@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0F172A;
  color: #F8FAFC;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace; /* Fallback until we load a better font */
  overflow: hidden; /* Prevent scrolling for the full-screen terminal feel */
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
